.fondo {
  height: 100%;
  background: rgb(150, 0, 0);
}

mat-card {
  max-width: 40%;
  text-align: center;
  background-color: white;
}

button {
  width: 100%;
  background-color: lightgray;
  color: black;
}